Binaries 
DerivedDataCache
Intermediate 
Saved 
Build
Content
**/BlackAlder
**/Landscape
**/MedievalDungeon
**/Megascans
**/StarterContent
**/Assets

.vscode 
.vs
*.vc.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace